// admin styles
// 
.cmb2-wrap ul.cmb-attach-list { 
  margin-top: 10px;
}
.column-_cmb2_pdf {
  width: 5%;
}

#sort-projects-form {
  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
  }
  .project {
    a {
      color: #fff;
      text-decoration: none;
    }
    width: 135px;
    height: 135px;
    float: left;
    position: relative;
    margin: 0 8px 8px 0;
    padding: 4px 8px;
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      content: '';
      position: absolute;
      background: #000;
      transition: opacity .2s ease-out;
    }
    &:hover {
      &::before {
        opacity: .3;
      }
    }
    .image-wrap {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      position: absolute;
      background-color: #333;
      background: 50% 50% no-repeat scroll;
      background-size: cover;
    }
    h1,
    h3,
    p {
      z-index: 1;
      color: #fff;
      font-size: 14px;
      line-height: 1.4;
      padding: 0;
      margin: 0;
      position: relative;
    }

  } 
}
