// Animations

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation: fadeInDown .35s both;
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUp {
  animation: fadeOutUp .35s both;
}
@keyframes hover {
  0%, 50%, 100% {
    transform: translate3d(0,0,0);
  }
  25% {
    transform: translate3d(0,-15%,0);
  }
  75% {
    transform: translate3d(0,-15%,0);
  }
}