// Grid

$margin: 1em;
$column: 100% * (1 / 12);

.grid {
  width: 100%;
  display: block;
  @include clearfix();
}

.column {
  position: relative;
  @include min-screen($breakpoint-medium) {
    float: left;
  }
}

.one-half-right, .two-thirds-right, .one-third-right, .one-third-middle, .one-fourth-right  {margin-top: $margin;}

@include min-screen($breakpoint-medium) {
  .grid-item {
    float: left;
  }
  .one-fourth {
    width: 25%;
  }
  .one-third {
    width: 100% * (1/3);
  }
  .one-half {
    width: 50%;
  }
  .two-thirds {
    width: 100% * (2/3);
  }
}