// Typography

@font-face {
  font-family: 'GT-Haptik-Lazer';
  src: url('../fonts/GT-Haptik-Lazer.eot');
  src: url('../fonts/GT-Haptik-Lazer.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/GT-Haptik-Lazer.woff') format('woff'),
       url('../fonts/GT-Haptik-Lazer.ttf')  format('truetype'),
       url('../fonts/GT-Haptik-Lazer.svg#98e876e8342e12fd75b1ff67643f380f') format('svg'); 
}

// Fonts
$sans: 'Circular Std', sans-serif;
$serif: Georgia, serif;
$lazer: 'GT-Haptik-Lazer', serif;

// Sans-specific styles to chunk into one include
@mixin font-sans() {
}
// Serif-specific styles to chunk into one include
@mixin font-sans() {
}

// Hide fonts while loading from Typekit
.wf-loading {
  visibility: hidden;
}

//sizes
$small: 0.5em;
$med: 1em; 
$big: 3em;

@mixin h1() {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.071428571em;
  @include min-screen($breakpoint-medium) {
    font-size: 84px;
    line-height: .952380952em;
  }
}

@mixin h2() {
  font-size: 28px;
  font-weight: 200;
  line-height: 1.428571429em;
}

// Small Caps style
@mixin sc() {
  font-size: 11px;
  letter-spacing: .2em;
  text-transform: uppercase;
  line-height: 1.818181818em;
  font-feature-settings: "smcp" on;
}

@mixin lazer() {
  font-size: 208px;
  font-family: $lazer;
  line-height: .961538462em;
  font-feature-settings: "tnum";
}