// Typography

@font-face {
  font-family: 'GT-Haptik-Lazer';
  src: url('../fonts/GT-Haptik-Lazer.eot');
  src: url('../fonts/GT-Haptik-Lazer.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/GT-Haptik-Lazer.woff') format('woff'),
       url('../fonts/GT-Haptik-Lazer.ttf')  format('truetype'),
       url('../fonts/GT-Haptik-Lazer.svg#98e876e8342e12fd75b1ff67643f380f') format('svg'); 
}

@font-face {
  font-family: 'GT-Haptik-Thin';
  src: url('../fonts/GT-Haptik-Thin.eot');
  src: url('../fonts/GT-Haptik-Thin.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/GT-Haptik-Thin.woff') format('woff'),
       url('../fonts/GT-Haptik-Thin.ttf')  format('truetype'),
       url('../fonts/GT-Haptik-Thin.svg#cff6a11d93bb5107eb35cf946ebfef34') format('svg'); 
}

@font-face {
    font-family: "Circular-Mediumitalic";
    src:url("../fonts/lineto-circular-mediumitalic.eot");
    src:url("../fonts/lineto-circular-mediumitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-mediumitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Bold";
    src:url("../fonts/lineto-circular-bold.eot");
    src:url("../fonts/lineto-circular-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Black";
    src:url("../fonts/lineto-circular-black.eot");
    src:url("../fonts/lineto-circular-black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Bolditalic";
    src:url("../fonts/lineto-circular-bolditalic.eot");
    src:url("../fonts/lineto-circular-bolditalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-bolditalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Book";
    src:url("../fonts/lineto-circular-book.eot");
    src:url("../fonts/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Medium";
    src:url("../fonts/lineto-circular-medium.eot");
    src:url("../fonts/lineto-circular-medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Blackitalic";
    src:url("../fonts/lineto-circular-blackitalic.eot");
    src:url("../fonts/lineto-circular-blackitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-blackitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Bookitalic";
    src:url("../fonts/lineto-circular-bookitalic.eot");
    src:url("../fonts/lineto-circular-bookitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-bookitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// Fonts
$sans: 'Circular-Book', sans-serif;
$serif: Georgia, serif;
$lazer: 'GT-Haptik-Lazer', serif;
$thin: 'GT-Haptik-Thin', serif;

// Sans-specific styles to chunk into one include
@mixin font-sans() {
}
// Serif-specific styles to chunk into one include
@mixin font-sans() {
}

// Hide fonts while loading from Typekit
.wf-loading {
  visibility: hidden;
}

//sizes
$small: 0.5em;
$med: 1em; 
$big: 3em;

@mixin h1() {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.071428571em;
  @include min-screen($breakpoint-medium) {
    font-size: 84px;
    line-height: .952380952em;
  }
}

@mixin h2() {
  font-size: 28px;
  font-weight: 200;
  line-height: 1.428571429em;
}

// Small Caps style
@mixin sc() {
  font-size: 11px;
  letter-spacing: .2em;
  text-transform: uppercase;
  line-height: 1.818181818em;
  font-feature-settings: "smcp" on;
}

@mixin lazer() {
  font-family: $lazer;
  line-height: .961538462em;
  font-feature-settings: "tnum";
}

@mixin thin() {
  font-family: $thin;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "tnum","ss01" 1;
}