// Variables

// Colors

$black: #000;
$gray-dark: #bebebe;
$gray: #e6e6e6;
$gray-light: #f0f0f0;
$white: #fff;
$red: #f93d25;
// $green: #00f57f;
$green: #00ec7a;
$blue: #00e6ff;
$yellow: #ffd200;
$purple: #c964ff;

// Brand Swatches
$brand-primary: $green;
$brand-secondary: $gray;
$architecture-color: $blue;
$planning-color: $purple;
$interior-design-color: $red;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1000px;
$breakpoint-huge: 1200px;
$breakpoint-nav: 1050px;