// Variables

// Colors

$black: #000;
$gray: #bebebe;
$gray-light: #f0f0f0;
$white: #fff;
$red: #f93d25;
$green: #00f57f;
$blue: #00e6ff;
$yellow: #ffd200;

// Brand Swatches
$brand-primary: $green;
$brand-secondary: $gray;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;