// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $black;
  font-size: 16px; //Em base unit
  font-size: 100%;
  overflow-x: hidden;
  font-family: $sans;
  background: $white;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
}

p {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.428571429em;
  em {
    font-style: italic;
  }
}

a {
  color: $brand-primary;
  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
}

img {
	max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

// Browser alert
.old-browser {
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  padding: 50px;
  text-align: center;
  background: $red;
}

.smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Utility classes
.hide {
  display: none;
}
.loading {
  opacity: .5;
}
.cf,
.clearfix {
  @include clearfix();
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  @include clearfix();
  @include min-screen($breakpoint-medium) {
    padding: 0 40px;
  }
}