// Site-wide color changes based on body class

@mixin colorScheme($color) {
  // Header
  .site-header {
    .logo {
      .sub-title {
        color: $color;
        transition: color .5s ease-out;
      }
    }
  }

  // Nav
  .site-nav {
    .nav {
      a:after {
        background: $color;
        transition: background .5s ease-out;
      }
    }

    .nav-actions {
      a {
        &:hover, &:focus {
          .icon {
            fill: $color;
          }
        }
      }
    }
  }

  // Force treatment of singles as children
  &.single-project,
  &.tax-project_category {
    .menu-portfolio a::after {
      opacity: 1;
    }
  }
  &.single-person {
    .menu-people a::after {
      opacity: 1;
    }
  }
  &.single-office {
    .menu-careers a::after {
      opacity: 1;
    }
  }

  // Project categories
  .project-categories {
    a:hover,
    .categories-parent.active > li:not(.active) > a:hover {
      color: $color;
    }
  }

  // UI Components
  .highlight-hover {
    @include underline($color, '', '', 2px);
    &:hover, &:focus {
      &::after {
        height: .75em;
        bottom: .35em;
      }
    }
  }
  .plus-button:not(.close) {
    .plus {
      &:before,
      &:after {
        background: $color;
      }
    }
  }
  .stat {
    .stat-number {
      color: $color;
    }
  }

  // Project pages
  .project {
    .article-title {
      color: $color;
    }
    .stat-number {
      color: $color;
    }
    a {
      &:hover, &:focus {
        color: $color;
      }
    }
  }
  .project-blocks {
    .project-block {
      &.emphasis-block,
      .full-width-text {
        blockquote {
          &:before {
            background: $color;
          }
        }
      }
    }
  }

  // Footer
  .site-footer {
    .social {
      a:before {
        background: $color;
      }
    }
    .contact-group ul .email a:before {
      background: $color;
    }
  }
}

// Custom color based on body class
body {
  &.home, &.single:not(.single-project) {
    @include colorScheme($brand-primary);
  }
  &.architecture,
  [data-pageClass=architecture],
  &.term-architecture {
    @include colorScheme($architecture-color);
  }
  &.interior-design, 
  [data-pageClass="interior-design"],
  &.term-interior-design {
    @include colorScheme($interior-design-color);
  }
  &.planning,
  [data-pageClass="planning"],
  &.term-planning {
    @include colorScheme($planning-color);
  }
}