// Common Form elements

input:not([type=checkbox]), textarea {
  -webkit-appearance: none;
}

input:not([type=submit]):not([type=checkbox]), textarea {
  width: 100%;
  padding: 20px;
  display: block;
  max-width: 100%;
  font-size: 14px;
  border-radius: 0;
  background: $white;
  border: 1px solid $gray;
  line-height: 1.428571429em;
  &:focus,
  &:active {
    outline: none;
    border-color: $gray-dark;
  }
}

input[type=search] {
  box-sizing: border-box;
}

textarea {
  max-width: 100%;
}

input[type=submit],
button[type=submit] {
  @extend .btn;
  border: none;
  &:focus,
  &:active {
    outline: none;
  }
}