// Header

.site-header {
  z-index: 50;
  position: relative;
  padding: 20px 10px;
  background: $white;
  @include clearfix();
  transition: padding .35s ease-out;

  @include min-screen($breakpoint-medium) {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 40px 30px 50px;
    &.shrink {
      padding: 20px 30px;
      .logo {
        .icon {
          width: 56px;
          height: 56px;
        }
      }

      .site-nav {
        .nav {
          li {
            line-height: 56px;
          }
        }
      }
    }
  }

  .wrap {
    padding: 0 10px;
  }

  .logo {
    margin: 0;
    font-weight: 200;
    @include clearfix();
    a {
      top: -2px;
      left: -2px;
      float: left;
      position: relative;
      display: inline-block;
    }
    .icon {
      width: 74px;
      height: 74px;
      vertical-align: top;
      transition: width .35s ease-out, height .35s ease-out;
    }
    .sub-title {
      float: left;
      width: 200px;
      display: flex;
      font-size: 21px;
      font-weight: 200;
      padding-top: 37px;
      margin-bottom: 7px;
      color: $brand-primary;
      vertical-align: bottom;
      line-height: 1.428571429em;
      -webkit-font-smoothing: antialiased;
      .dash {
        padding: 0 4px 0 2px;
        display: inline-block;
      }
    }

    @include min-screen($breakpoint-nav) {
      a {
        float: none;
      }

      .sub-title {
        width: auto;
        float: none;
        padding-top: 0;
        display: inline-block;
      }
    }
  }
}

// When Collection/Modal is active, remove background
body.collection-active .site-header,
body.modal-active .site-header {
  background: transparent;
}

// Header bars
.header-bars {
  left: 50%;
  bottom: 0;
  width: auto;
  right: 30px;
  display: none;
  position: absolute;
  @include min-screen($breakpoint-medium) {
    display: flex;
  }

  .bar {
    height: 2px;
    margin: 0 10px;
    background: $gray;
    flex-basis: 100% * (1 / 3);
    transition: background .2s ease-out;
    &.active {
      background: $black;
    }
  }

  // Toggle the Categories view
  .categories-toggle {
    top: -7px;
    z-index: 100;
    right: -23px;
    display: none; // show in _home.scss
    position: absolute;
  }
}