// Header

.site-header {
  padding: 20px 10px;
  background: $white;
  @include clearfix();
  transition: padding .35s ease-out;

  @include min-screen($breakpoint-medium) {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: fixed;
    padding: 40px 30px 50px;
    &.shrink {
      padding: 20px 30px;
      .logo {
        .icon {
          width: 56px;
          height: 56px;
        }
      }

      .site-nav {
        .nav {
          li {
            line-height: 56px;
          }
        }
      }
    }
  }

  .wrap {
    padding: 0 10px;
  }

  .logo {
    margin: 0;
    font-weight: 200;
    a {
      top: -2px;
      left: -2px;
      position: relative;
      display: inline-block;
    }
    .icon {
      width: 74px;
      height: 74px;
      vertical-align: top;
      transition: width .35s ease-out, height .35s ease-out;
    }
    .sub-title {
      font-size: 21px;
      font-weight: 200;
      margin-bottom: 7px;
      display: inline-block;
      color: $brand-primary;
      vertical-align: bottom;
      line-height: 1.428571429em;
      -webkit-font-smoothing: antialiased;
    }
  }
  

  @include min-screen($breakpoint-small) {
  }

  @include min-screen($breakpoint-medium) {
  }
}

// Header bars
.header-bars {
  left: 50%;
  bottom: 0;
  width: auto;
  right: 30px;
  display: flex;
  margin-left: -10px;
  position: absolute;
  .bar {
    height: 2px;
    margin: 0 10px;
    background: $gray;
    flex-basis: 100% * (1 / 3);
    transition: background .2s ease-out;
    &.active {
      background: $black;
    }
  }

  // Toggle the Categories view
  .categories-toggle {
    top: -7px;
    z-index: 100;
    right: -23px;
    display: none; // show in _home.scss
    position: absolute;
  }
}

// Different logo color for different page cats
@mixin siteSubTitleColor($color) {
  .site-header {
    .logo {
      .sub-title {
        color: $color;
      }
    }
  }
}
body.architecture {
  @include siteSubTitleColor($blue);
}
body.interior-design {
  @include siteSubTitleColor($red);
}