// Off-canvas modal
 
// WP Admin bar adjustment
.admin-bar {
  .modal {
    top: 208px;
    @include min-screen($breakpoint-medium) {
      top: 226px;
    }
    @include min-screen($breakpoint-nav) {
      top: 210px;
    }
  }
}

.modal {
  right: 0;
  top: 162px;
  z-index: 50; 
  display: none;
  padding: 20px;
  position: absolute;
  background: $white;
  width: calc(100% - 40px);
  transform: translateX(100%);
  transition: transform .5s ease-out;
  &.display {
    display: block;
  }
  &.active {
    transform: translateX(0);
    .close {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @include min-screen($breakpoint-small) {
    top: 144px;
  }

  @include min-screen($breakpoint-medium) {
    top: 194px;
    padding: 40px;
    width: calc(50% + 30px);
  }

  // Close modal button
  .hide-modal {
    top: -2px;
    opacity: 0;
    left: -31px;
    position: absolute;
    pointer-events: none;
    transition: opacity .5s ease-out;
    .plus {
      width: 20px;
      height: 20px;
    }
    .plus::before,
    .plus::after {
      width: 20px;
      height: 2px;
      background: $black;
    }

    @include min-screen($breakpoint-medium) {
      left: -60px;
    }
  }
}