// Off-canvas modal

// WP Admin bar adjustment
.admin-bar {
  .modal {
    top: 60px;
    @include min-screen($breakpoint-medium) {
      top: 170px;
    }
    @include min-screen($breakpoint-nav) {
      top: 140px;
    }
  }
}

.modal {
  right: 0;
  bottom: 0;
  top: 40px;
  z-index: 70;
  padding: 20px;
  position: fixed;
  background: $white;
  width: calc(100% - 40px);
  transform: translateX(100%);
  -webkit-overflow-scrolling: touch;
  transition: transform .5s $cubic-ease2;
  &.active {
    transform: translateX(0);
    .close {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @include min-screen($breakpoint-small) {
    top: 144px;
    z-index: 50;
  }

  @include min-screen($breakpoint-medium) {
    top: 140px;
    padding: 40px;
    width: calc(50% + 30px);
  }

  @include min-screen($breakpoint-nav) {
    top: 110px;
  }

  .modal-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    position: absolute;
    article>.actions {
      display: none;
    }
  }

  // Close modal button
  .hide-modal {
    top: -2px;
    opacity: 0;
    left: -31px;
    position: absolute;
    pointer-events: none;

    @include min-screen($breakpoint-medium) {
      left: -60px;
    }
  }

  // Feedback dialog
  .feedback-container {
    z-index: 1;
    &.show-feedback {
      .feedback {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }

  &:not(.collection) {
    .feedback-container {
      width: calc(100% + 40px);
      margin: -20px 0 20px -20px;
      @include min-screen($breakpoint-medium) {
        width: calc(100% + 80px);
        margin: -40px 0 40px -40px;
      }
    }
  }
}

// Close modal button
.plus-button.hide-modal {
  transition: opacity .5s ease-out;
  .plus {
    width: 20px;
    height: 20px;
  }
  .plus::before,
  .plus::after {
    width: 20px;
    height: 2px;
    background: $black;
  }
}