// Nav

// wp admin bar push
.admin-bar {}

#menu-main-nav {
}

// mobile menu toggle
.menu-toggle {
}

// Nav
.project-categories {
  @include clearfix();
  li {
    &.active > a {
      background: yellow;
    }
    > ul {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}