// Project Categories Nav

.project-categories {
  background: $white;
  position: relative;
  transition: height .2s ease-out;

  .-inner {
    width: calc(100% + 20px);
  }

  .categories-parent {
    &.active {
      li {
        &.active {
          > a {
            color: $black;
          }
        }
        a {
          color: $gray;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 20px 0 0;
    position: relative;
    display: inline-block;
    width: 100% * (1 / 3);
    li + li {
      margin-top: 20px;
    }
    li {
      a {
        display: block;
        position: relative;
      }
    }
  }

  > ul {
    padding-left: 0;
    position: relative;
  }

  li {
    &.active > a {
      color: $black;
    }
  }

  .children {
    top: 0;
    left: 100%;
    width: 100%;
    position: absolute;
    pointer-events:none;
    &.active {
      pointer-events: auto;
      > li {
        > a {
          opacity: 1;
          pointer-events: auto;
          transform: translateX(0);
        }
      }
    }

    li {
      overflow: hidden;
    }

    a {
      opacity: 0;
      pointer-events: none;
      transform: translateX(-100%);
      transition: opacity .2s ease-out, transform .2s cubic-bezier(1,.5,.5,1);
    }
  }

  a {
    color: $black;
    line-height: 1em;
    text-decoration: none;
  }
}