// Search Form

.search-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: none;
  position: fixed;
  background: rgba($white,.97);
  &.active {
    display: block;
  }
}

.search {

  .search-container {
    @include clearfix();
  }

  .search-column {
    @include clearfix();

    @include min-screen($breakpoint-medium) {
      width: 25%;
      float: left;
    }
  }
  
}
