// UI Components

// Feedback dialog
.feedback-container {
  max-height: 0;
  overflow: hidden;
  transition: all .2s;
  &.show-feedback {
    transition: all .5s;
    max-height: 200px;
  }
}
.feedback {
  padding: 40px;
  background: $brand-primary;
  p {
    margin: 0;
    @include h2();
    text-transform: none;
  }
}

// Fancy highlight hover links
.highlight-hover {
  @include underline($brand-primary, '', '', 2px);
  &::after {
    z-index: -1;
    transition: height .1s cubic-bezier(1,.5,.5,1), bottom .1s cubic-bezier(1,.5,.5,1);
  }
  &:hover, &:focus {
    &::after {
      height: .75em;
      bottom: .35em;
    }
  }
}

// Plus buttons
.plus-button {
  padding: 0;
  border: none;
  background: none;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &.-expandable.expanded .plus {
    &::after {
      transform: translateY(-50%) rotate(0);
    }
  }
  &.close {
    .plus {
      transform: rotate(45deg);
    }
  }
  .plus {
    width: 12px;
    height: 12px;
    position: relative;
    &:before,
    &:after {
      left: 0;
      top: 50%;
      content: '';
      width: 12px;
      height: 2px;
      position: absolute;
      background: $brand-primary;
      transition: transform .2s ease-out, background .2s ease-out;
    }
    &::before {
      transform: translateY(-50%);
    }
    &::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

// Stats
.stat {
  text-align: center;
  p {
    margin: 0;
  }
  .stat-number {
    @include thin();
    margin-bottom: 40px;
    color: $brand-primary;
    @include min-screen($breakpoint-medium) {
      @include lazer();
    }
  }
  .stat-label {
    @include sc();
  }
  .stat-link {
    @include sc();
    margin-top: 15px;
    padding-top: 15px;
    position: relative;
    &::before {
      top: 0;
      left: 50%;
      width: 10px;
      content: '';
      height: 1px;
      position: absolute;
      background: $black;
      transform: translateX(-50%);
    }
    a {
      color: $black;
      position: relative;
      white-space: nowrap;
      text-decoration: none;
      transition: color .1s ease-out;
      &::after {
        bottom: 0;
        height: 1px;
        content: '';
        left: .02em;
        right: .2em;
        background: $black;
        position: absolute;
        transition: background .1s ease-out;
      }
      &:hover {
        color: $brand-primary;
        &::after {
          background: $brand-primary;
        }
      }
    }
  }

  // Long Stats (>2)
  &.long-stat {
    .stat-number {
      @include thin();
      font-size: 52px;
      line-height: .961538462em;
    }
    // Extra long (>4)
    &.extra-long-stat {
      .stat-number {
        font-size: 40px;
      }
    }
  }
}

// Buttons
.button {
  color: $black;
  @include sc();
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: $brand-primary;
  transition: background .2s ease-out;
  &:hover,
  &:focus {
    background: darken($brand-primary, 10%);
  }
}

.collection-action {
  transition: color .1s ease-out;

  &:hover {
    color: $brand-primary;
    .icon {
      fill: $brand-primary;
    }
  }

  .icon {
    width: 23px;
    height: 21px;
    fill: $white;
    display: inline-block;
    transition: fill .1s ease-out;
    &.icon-remove {
      fill: $red;
    }
  }

  .collection-text {
    opacity: 0;
    display: inline-block;
    transform: translateX(-25%);
    transition: opacity .2s ease-out, transform .2s ease-out;
  }

  &.collection-add {
    .icon-remove {
      display: none;
    }
  }
  &.collection-remove {
    .icon-download {
      display: none;
    }
  }

  svg {
    overflow: visible;
  }

  &:hover {
    .collection-text {
      opacity: 1;
      transform: translateX(0);
    }
    #Arrows {
      animation: hover 1.5s ease-in-out infinite;
    }
  }
}