// Styling of content that is editable in wysiwyg

.user-content {
  h1,h2,h3,h4,h5,h6 {
  }
  p {

  }
  ol,
  ul {
    padding-left: 2em;
    li {
      margin-top: 1em;
      position: relative;
      &:first-of-type {
        margin-top: 0;
      }
      &:before {
        left: -2em;
        content: '·';
        position: absolute;
      }
      ol,
      ul {

      }
    }
  }
  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid $brand-secondary;
    + p {
      margin-bottom: 0;
    }
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
  a {
  }
  blockquote {
    margin: 0;
    position: relative;
    p {
      margin: 0;
      @include h2();
    }
  }
}