// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
.aligncenter {
  display: block;
  margin: 10px auto;
}
.alignleft,
.alignright {
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: 10px;
  }
  .alignright {
    float: right;
    margin-left: 10px;
  }
}

// Captions
.wp-caption {
}
.wp-caption-text {
}

// Text meant only for screen readers
.screen-reader-text {
}
