section.collection {
  padding: 0;
  @include clearfix();

  &:not(.mini) {
    position: relative;
  }

  article {
    cursor: move;
  }

  #email-collection-form {
    display: none;
    &.active {
      display: block;
    }
  }

  .collection-content>h1 {
    @include sc();
    margin-bottom: 8px;
    .collection-title {
      padding: 0;
      border: none;
      @include h1();
      font-size: 74px;
      margin-bottom: 20px;
      display: block;
      max-width: 100%;
      text-transform: none;
      color: $brand-primary;
      &::placeholder {
        color: $brand-primary;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .post-group {
    position: relative;
    @include clearfix();
    margin-bottom: 40px;
  }

  & > .post-group {
    margin-bottom: 0;
  }

  h2 {
    clear: left;
    @include sc();
    padding-bottom: 6px;
    margin-bottom: 20px;
    border-bottom: 2px solid $black;
    @include min-screen($breakpoint-medium) {
      margin-bottom: 10px;
    }
  }

  // Project grid wrapper
  .grid-wrapper {
    // Offset the grid for the padding of the items
    @include min-screen($breakpoint-medium) {
      margin-left: -10px;
      @include clearfix();
      width: calc(100% + 20px);

      .project {
        padding: 10px;
      }
    }
  }

  .project {
    margin-bottom: 20px;

    @include min-screen($breakpoint-medium) {
      width: 50%;
      float: left;
      margin-bottom: 0;
    }

    .wrap {
      padding: 20px;
      overflow: hidden;
    }

    &.vertical,
    &.horizontal {
      .image-wrap {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    h1 {
      padding-bottom: 20px;
    }

    .actions {
      .collection-action {
        .plus {
          width: 20px;
          height: 20px;
        }
      }
    }

    &.remove {
      animation: fadeOutUp .2s both;
    }
    &.add {
      animation: fadeInDown .2s both;
    }
    &.dragged {
      z-index: 200;
      position: absolute;
    }
  }

  .projects {
    margin-bottom: 30px;

    @include min-screen($breakpoint-medium) {
      margin-bottom: 60px;
    }

    .placeholder {
      @include min-screen($breakpoint-huge) {
        width: 50%;
        padding: 10px;
      }

      .placeholder-inner {
        height: 200px;
        background: #e6e6e6;
      }
    }
  }

  .collection-actions {
    a {
      display: block;
      margin-top: 20px;
      transition: color .2s ease-out;
      &:first-of-type {
        margin-top: 0;
      }
      &:hover {
        color: $black;
      }
    }

    @include min-screen($breakpoint-medium) {
      display: flex;
      a {
        flex-grow: 1;
        margin-top: 0;
        margin-left: 10px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  // The modal version
  &.mini {
    // see _modal.scss for global modal styles

    .overflow-wrapper {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      position: absolute;
    }

    .collection-content {
      padding: 20px;
      @include min-screen($breakpoint-medium) {
        padding: 40px;
      }
    }

    // Empty state
    &.empty {
      bottom: auto;
      padding: 20px;
      background: $brand-primary;
      @include min-screen($breakpoint-medium) {
        padding: 40px;
      }
      p {
        @include h2();
      }

      .collection-action {
        color: $black;
        font-size: 12px;
        .icon {
          fill: $black;
        }
        &:hover {
          .icon {
            fill: $black;
          }
        }
      }
    }

    article {
      width: 100%;
      float: none;

      .close {
        .plus {
          &::before,
          &::after {
            background: $black;
          }
        }
      }
    }

    .people {
      padding: 0;

      @include min-screen($breakpoint-medium) {
        columns: 1;

        .grid-wrapper {
          margin: 0;
          width: 100%;
        }
      }

      .placeholder {
        height: 30px;
        background: #e6e6e6;
      }
    }

    .person {
      width: 100%;
      height: 30px;
      position: relative;
      &.dragged {
        position: absolute;
      }
      .article-title {
        margin: 0;
        font-size: 14px;
        letter-spacing: 0;
        text-transform: none;
        a {
          color: $black;
          position: relative;
          &::after {
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            height: 1px;
            background: $gray;
            position: absolute;
          }
        }
      }
      .actions {
        top: 0;
        right: 0;
        margin: 0;
        position: absolute;
      }
      .collection-action {
        &:hover {
          color: $brand-primary;
          .close .plus {
            &::before,
            &::after {
              background: $brand-primary;
            }
          }
        }
      }
    }

    .project {
      &:hover {
        .article-title::after {
          opacity: 1;
        }
      }

      .wrap {
        min-height: 200px;
      }

      .article-title{
        padding-right: 30px;
        &::after {
          opacity: 0;
          transition: opacity .2s ease-out;
        }
      }
      .location, .big-plus {
        display: none;
      }
      .actions {
        margin: 0;
        top: 20px;
        left: auto;
        right: 20px;
        position: absolute;
        .remove-text {
          @extend .sr-only;
        }
        .collection-action {
          .close {
            display: block;
            .plus {
              &::before,
              &::after {
                height: 1px;
                width: 20px;
                background: $white;
              }
            }
          }
          .collection-text {
            display: none;
          }
        }
      }
    }

    @include min-screen($breakpoint-huge) {
      width: calc(50% + 30px);

      .projects .placeholder,
      .project {
        width: 50%;
        float: left;
      }

      .projects .placeholder {
        .placeholder-inner {
          height: 0;
          overflow: hidden;
          padding-bottom: calc(71.4285714% + 20px);
        }
      }

      .project {
        .wrap {
          height: 0;
          min-height: 0;
          overflow: hidden;
          padding-bottom: 71.4285714%;
        }
      }
    }

    // Email form
    #email-collection-form {
      padding-top: 20px;

      [type=submit] {
        margin-top: 20px;
      }

      @include min-screen($breakpoint-medium) {
        padding-top: 40px;
      }
    }
  }
}
body.dragging * {
  cursor: move;
}

// Touch screen adjustments
.touchevents {
  section.collection {
    .project {
      .overlay-content {
        opacity: 1;
      }
    }
  }
}

// Collection page only styles
.page.collection {
  main {
    .hide-modal,
    .feedback-container {
      display: none;
    }
  }

  .project {
    .wrap {
      min-height: 300px;
      overflow: hidden;
    }
  }

  .projects .placeholder {
    .placeholder-inner {
      height: 300px;
      overflow: hidden;
      padding-bottom: 0;
    }
  }
}