section.collection {
  @include clearfix();
  
  &:not(.mini) {
    position: relative;
  }


  #email-collection-form {
    display: none;
    &.active {
      display: block;
    }
  }

  h1 {
    margin-bottom: 30px;
    @include sc();
    .collection-title {
      @include h1();
      display: block;
      text-transform: none;
      color: $brand-primary;
      border: none;
      padding: 0;
      max-width: 100%;
      &::placeholder {
        color: $brand-primary;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .post-group {
    position: relative;
    @include clearfix();
    margin-bottom: 40px;
  }

  h2 {
    clear: left;
    @include sc();
    padding-bottom: 6px;
    margin-bottom: 10px;
    border-bottom: 2px solid $black;
  }

  article {
    width: 250px;
    height: 250px;
    float: left;
    &.remove {
      animation: fadeOutUp .2s both;
    }
    &.add {
      animation: fadeInDown .2s both;
    }
    &.placeholder {
      background: #e6e6e6;
    }
    &.dragged {
      z-index: 200;
      position: absolute;
    }
  }

  // The modal version
  &.mini {
    // see _modal.scss for global modal styles

    // Empty state
    &.empty {
      bottom: auto;
      background: $brand-primary;
      p {
        @include h2();
      }
    }

    .collection-actions {
      display: flex;
      margin-top: 40px;
      a {
        flex-grow: 1;
        margin-left: 10px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    article {
      width: 100%;
      float: none;
      cursor: move;

      .close {
        .plus {
          &::before,
          &::after {
            background: $black;
          }
        }
      }
    }

    .people {
      .placeholder {
        height: 30px;
      }
    }

    .person {
      width: 100%;
      height: 30px;
      position: relative;
      &.dragged {
        position: absolute;
      }
      .article-title {
        margin: 0;
        font-size: 14px;
        letter-spacing: 0;
        text-transform: none;
        a {
          color: $black;
          position: relative;
          &::after {
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            height: 1px;
            background: $gray;
            position: absolute;
          }
        }
      }
      .actions {
        top: 0;
        right: 0;
        margin: 0;
        position: absolute;
      }
      .collection-action {
        &:hover {
          color: $brand-primary;
          .close .plus {
            &::before,
            &::after {
              background: $brand-primary;
            }
          }
        }
      }
    }

    .project {
      &:hover {
        .article-title::after {
          opacity: 1;
        }
      }
      .article-title{
        padding-right: 30px;      
        &::after {
          opacity: 0;
          transition: opacity .2s ease-out;
        }
      }
      .location, .big-plus {
        display: none;
      }
      .actions {
        top: 0;
        right: 0;
        margin: 0;
        position: absolute;
        .remove-text {
          @extend .sr-only;
        }
        .collection-action {
          .close {
            display: block;
            .plus {
              &::before,
              &::after {
                height: 1px;
                width: 20px;
                background: $white;
              }
            }
          }
        }
      }
    }

    @include min-screen($breakpoint-medium) {
      width: 50%;

      .projects .placeholder,
      .project {
        width: 50%;
        float: left;
      }
    }
  }

  // Feedback dialog
  .feedback-container {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    position: absolute;
  }
  .feedback {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    transition: opacity .35s ease-out, transform .35s ease-out;
  }
}
body.dragging * {
  cursor: move;
}