// Home page

.home.page {

  main {
    padding: 0 20px;

    @include min-screen($breakpoint-medium) {
      padding: 0;
    }
  }

  // Show the project category toggle button
  .header-bars {
    .categories-toggle {
      display: block;
    }
  }

  .page-intro {
    padding-top: 10px;
  }

  .content {
    h2 {
      @include h2();
    }
  }

  .-top {
    margin-bottom: 50px;
  }
}