// General page elements

.page {
  &:not(.home) main {
    padding: 0 20px;

    @include min-screen($breakpoint-medium) {
      padding: 0;
    }
  }
}

.page-intro {
  h2, h3 {
    @include h2();
  }

  &.-right {
    p {
      margin: 16px 0 0;
    }
  }

  @include min-screen($breakpoint-medium) {
    &.-left {
      padding-right: $column;
    }
  }
}