.people .person {
  position: relative;

  h1,
  h3,
  p {
    position: relative;
  }
  a {
    color: #ccc;
    text-decoration: none;
  }
}

// Single Person
.person.single {

  .image-wrap {
    min-height: 300px;
  }

  .article-header {
    position: relative;
    padding: 20px 60px 20px 0;
    h3 {
      font-size: 14px;
      font-weight: 200;
      color: $gray-dark;
      line-height: 1.5em;
      -webkit-font-smoothing: antialiased;
    }

    .actions {
      right: 0;
      top: 20px;
      margin: 0;
      line-height: 54px;
      position: absolute;
      .collection-action {
        .icon {
          fill: $black;
          &.icon-remove {
            fill: $red;
          }
        }
      }
    }

    @include min-screen($breakpoint-medium) {
      padding: 40px 80px 40px 0;

      .actions {
        right: 0;
        top: 40px;
      }
    }
  }

  .article-title {
    margin-top: 0;
  }

  .education {
    em {
      font-size: 10px;
      line-height: 2em;
      font-style: normal;
    }
  }

}

// Single Person in modal
.modal.person-modal {

  .modal-content {
    padding: 20px;
    @include min-screen($breakpoint-medium) {
      padding: 40px;
    }
  }

  .article-body {
    padding-top: 0;
    @include clearfix();

    .info,
    .content {
      padding-top: 20px;
    }

    @include min-screen($breakpoint-medium) {
      .info,
      .content {
        float: left;
        position: relative;
        &::before {
          top: 0;
          left: 0;
          right: 0;
          content: '';
          height: 2px;
          position: absolute;
          background: $black;
        }
      }

      .info {
        padding-right: 20px;
        width: 100% * 1 / 3;
        &::before {
          right: 20px;
        }
      }

      .content {
        width: 100% / 3 * 2;
      }
    }
  }
}
// Single person page
body.single-person {
  article {
    padding: 20px;

    @include min-screen($breakpoint-medium) {
      padding: 40px;
    }
  }
}

// People page
body.people {

  .page-content {
    h3 {
      @include h2();
    }

    p {
      margin: 20px 0;
    }

    @include min-screen($breakpoint-medium) {
      padding-right: $column;

      p {
        margin: 40px 0;
      }
    }
  }

  .stat{
    margin: 40px 0;
    font-size: 70px;

    @include min-screen($breakpoint-medium) {    
      margin: -1em 0 0;
      .stat-number {
        font-size: 16vw;
      }
    }
  }

  .people-section {
    .category-group {
      margin-top: 30px;
    }

    h2 {
      @include sc();
      display: block;
      margin-bottom: 10px;
      padding-bottom: 4px;
      border-bottom: 2px solid $black;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        margin-top: 10px;
      }
    }

    a {
      color: $black;
      padding-bottom: 2px;
      @include underline($gray-light, link, $black);
    }

    @include min-screen($breakpoint-medium) {
      columns: 3;
      column-gap: 20px;
      padding-top: 16px;
      padding-left: 10px;

      .category-group,
      .category-group ul {
        width: 100%;
        display: inline-block;
      }

      .category-group {
        margin-top: 0;
        margin-bottom: 60px;
      }
    }
  }

}