.people .person {
  position: relative;
  .image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 50% 50% no-repeat scroll;
    background-size: cover;
    @include clearfix;
  }
  h1,
  h3,
  p {
    position: relative;
  }
  a {
    color: #ccc;
    text-decoration: none;
  }
}
.single .person {
  .image-wrap {
    max-width: 700px;
    height: 400px;
    background: 50% 50% no-repeat scroll;
    background-size: cover;
    @include clearfix;
  }
}

// People page
body.people {

  .page-content {
    h3 {
      @include h2();
    }

    p {
      margin: 1em 0;
    }

    @include min-screen($breakpoint-medium) {
      padding-right: $column;
    }
  }

  .stat{
    margin-top: -5.5em;
  }

  .people {
    .category-group {
      margin-top: 30px;
    }

    h2 {
      @include sc();
      display: block;
      margin-bottom: 10px;
      padding-bottom: 4px;
      border-bottom: 2px solid $black;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    a {
      color: $black;
      padding-bottom: 2px;
      @include underline($gray-light, link, $black);
    }

    @include min-screen($breakpoint-medium) {
      columns: 3;
      column-gap: 20px;

      .category-group,
      .category-group ul {
        width: 100%;
        display: inline-block;
      }

      .category-group {
        margin-top: 0;
        margin-bottom: 60px;
      }
    }
  }

}