.person {
  position: relative;
  .image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 50% 50% no-repeat scroll;
    background-size: cover;
    @include clearfix;
  }
  h1,
  h3,
  p {
    position: relative;
  }
  a {
    color: #ccc;
    text-decoration: none;
  }
}