// Project Grid Card Styles

.page-intro,
.projects {
  transition: opacity .15s ease-out;
  &.loading {
    opacity: 0;
  }
}

.projects {
  @include clearfix();

  .project {

    &:hover,
    &:focus {
      .wrap {
        &::before, .overlay-content {
          opacity: 1;
        }
      }
    }

    // Inner wrap + dark overlay
    .wrap {
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: .10;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,.75);
        transition: opacity .2s ease-out;
      }
    }

    // Image background
    .image-wrap {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      position: absolute;
      background: 50% 50% no-repeat scroll;
      background-size: cover;
      @include clearfix;
    }

    // Content styles
    header {
      margin-bottom: 20px;
    }
    h1, h3, p {
      z-index: 1;
      color: $white;
      font-size: 14px;
      position: relative;
      line-height: 1.428571429em;
    }
    .categories, .location {
      @include sc();
      padding: 8px 0 20px;
      &::before {
        left: 0;
        top: 0;
        width: 10px;
        content: '';
        height: 1px;
        position: absolute;
        background: $white;
      }
    }
    h1 {
      padding-bottom: 30px;
    }
    .categories {
      .slash:last-of-type {
        display: none;
      }
    }
    a {
      color: $white;
      text-decoration: none;
    }
    .overlay-content {
      opacity: 0;
      transition: opacity .2s ease-out;
    }    

    // Big overlay plus
    .big-plus {
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 40px;
      height: 40px;
      position: absolute;
      transform: translate(-50%, -50%);
      &:hover,
      &:focus {
        &::before,
        &::after {
          background: $brand-primary;
        }
      }
      &::before,
      &::after {
        top: 0;
        left: 50%;
        z-index: 0;
        width: 2px;
        content: '';
        height: 40px;
        position: absolute;
        background: $white;
        transform: tranlsateX(-50%);
        transition: background .2s ease-out;
      }
      &::after {
        transform: translateX(-50%) rotate(90deg);
      }
      a {
        z-index: 1;
        width: 40px;
        height: 40px;
        display: block;
        position: relative;
      }

      @include min-screen($breakpoint-medium) {
        width: 100px;
        height: 100px;
        &::before,
        &::after {
          height: 100px;
        }
        a {
          width: 100px;
          height: 100px;
        }
      }
    }

  }

}

// Main project-grid specific styles
.projects.main-project-grid {

  // Offset the grid for the padding of the items
  @include min-screen($breakpoint-medium) {
    .masonry-grid {    
      margin-left: -10px;
      width: calc(100% + 20px);
    }
  }

  .initial-section,
  .load-more-container {
    @include clearfix();
  }

  .grid-item {
    width: 100%;
    color: $white;
    margin-bottom: 20px;
    transition: color 1s ease-out;
    -webkit-font-smoothing: antialiased;

    .wrap {
      padding: 20px;
      min-height: 300px;
      position: relative;
      transition: background-color .2s ease-out;
    }
    // Make verticle projects taller
    &.vertical {
      .wrap {
        min-height: 500px;
      }
    }

    .article-inner {
      z-index: 2;
      max-width: 400px;
      position: relative;
      padding-bottom: 40px;
    }

    a {
      color: $white;
      transition: color .2s ease-out;
    }

    .collection-add {
      &:hover {
        color: $brand-primary;
        .icon {
          fill: $brand-primary;
        }
      }
    }
    .collection-remove {
      .icon {
        fill: $white;
      }
      &:hover {
        color: $red;
        .icon {
          fill: $red;
        }
      }
    }

    @include min-screen($breakpoint-medium) {
      width: 50%;
      position: relative;
      &:not(.news) {
        &::before,
        &::after {
          top: 0;
          bottom: 0;
          z-index: 1;
          content: '';
          width: 10px;
          background: $white;
          position: absolute;
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }
      }

      .article-inner { 
        max-width: 280px;
      }

      .wrap {        
        height: 0;
        min-height: 1px;
        overflow: hidden;
        padding-left: 40px;
        padding-bottom: calc(117.242% + 40px);
      }

      &.horizontal {
        width: 100%;
        .wrap {
          margin-bottom: 0;
          padding-bottom: 58.621%;
        }
      }
    }

    @include min-screen($breakpoint-large) {
      width: 25%;

      .big-plus {
        display: none;
      }

      .wrap {
        min-height: 1px;
        padding-bottom: 124.137931%;
      }

      &.vertical {
        .wrap {
          min-height: 1px;
        }
      }

      &.vertical.-first {
        width: 50%;
        .wrap {
          padding-bottom: calc(124.137931% + 40px);
        }
        .big-plus {
          display: block;
        }
      }

      &.horizontal {
        .big-plus {
          display: block;
        }
        width: 50%;
        .wrap {
          padding-bottom: 62.0689655%;
        }
      }

      &.horizontal.-wide {
        width: 75%;
        .wrap {
          padding-bottom: 41.379310334%;
        }
      }
    }

    @include min-screen(1500px) {
      .big-plus {
        display: block;
      }
    }

    .actions {
      margin-bottom: 0;

      @include min-screen($breakpoint-medium) {
        left: 40px;
        right: 20px;
        bottom: 20px;
        margin-top: 0;
        position: absolute;
      }
      .icon {
        margin-right: 20px;
      }
    }
  }

  // Blog/news posts
  .grid-item.news {
    color: $black;
    padding: 30px 20px;
    position: relative;
    &::before {
      top: 0;
      left: 20px;
      right: 20px;
      height: 2px;
      content: '';
      background: $black;
      position: absolute;
    }

    @include min-screen($breakpoint-medium) {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 60px;
      &::before {
        left: 10px;
        right: 10px;
      }
    }

    h3 {
      @include sc();
      margin-bottom: 14px;
    }

    a:not(.read-more-link) {
      color: $gray-dark;
      padding-bottom: 2px;
      text-decoration: none;
      transition: color .2s ease-out;
      border-bottom: 1px solid $black;
      &:hover {
        color: $black;
      }
    }

    ul {
      margin: 0;
      padding: 0 0 30px;
      li {
        margin-top: 20px;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    .background-image-wrap {
      padding-left: 0;
      padding-right: 0;
      background: none;
    }

    .article-inner {
      padding: 16px 0 40px;
      border-bottom: 1px solid $gray;
    }

    .article-category {
      @include sc();
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 10px;
      a {
        color: $black;
        border-bottom: none;
        text-decoration: none;
      }
    }
  }

  // Stat block
  .grid-item.stat {
    color: $black;
    -webkit-font-smoothing: auto;
    .stat-number {
      font-size: 52px;
      pointer-events: none;
      @include min-screen($breakpoint-medium) {
        font-size: 26vw;
      }
      @include min-screen($breakpoint-large) {
        font-size: 16vw;
      }
    }
    .stat-label {
      position: relative;
    }
    a {
      color: $black;
    }

    .wrap {
      display: flex;
    }
    .stat-content {
      margin: auto;
    }

    @include min-screen($breakpoint-medium) {
      .wrap {
        display: block;
        overflow: visible;
      }
      &:not(.long-stat) {
        .stat-meta {
          margin: auto;
        }
        .stat-number {
          top: 0;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -45%);
        }
      }

      .stat-content {
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        left: 20px;
        display: flex;
        position: absolute;
        flex-direction: column;
      }

      &.long-stat {
        .stat-content {
          justify-content: center; 
        }
      }
    }

    @include min-screen($breakpoint-large) {

    }

    &.long-stat {
      .stat-number {
        margin-top: 0;
        @include thin();
        font-size: 52px;
        line-height: .961538462em;
      }
    }
  }
}

// Touch screen adjustments
.touchevents {
  .projects.main-project-grid {
    .project {
      .wrap {
        height: 0;
        padding: 20px 20px 60%;
      }
      h1::after {
        display: none;
      }
      .overlay-content {
        opacity: 1;
        left: 20px;
        bottom: 20px;
        position: absolute;
      }
      .location,
      .categories,
      .big-plus {
        display: none;
      }
    }
  }
}

// Load More Button at the bottom
.load-more {
  clear: both;
  margin: 30px 0;
  padding: 0 20px;
  @include clearfix();

  a {
    color: $black;
    @include h2();
    display: inline-block;
    text-decoration: none;
    &:hover {
      span:first-of-type {
        @include underline($black);
      }
      .plus-button {
        animation: hover 1.5s ease-in-out infinite;
      }
    }
    span {
      display: block;
    }
  }

  @include min-screen($breakpoint-medium) {
    padding: 0 10px;
    margin: 90px 0 30px;
  }
}

// Masonry
.masonry-grid {
  opacity: 0;
  transition: opacity .5s ease-out;
  &.loaded {
    opacity: 1;
  }
  .grid-sizer {
    width: 25%;
  }
}

// Non-touch hover effects
.no-touchevents .projects {
  .project {
    cursor: pointer;
    
    @include min-screen($breakpoint-medium) {
      .image-wrap {
        transition: transform .8s ease-out;
      }
      // Hover
      &:hover {
        .image-wrap {
          transform: scale(1.15);
        }
      }
    }
  }
}
