// Project Grid Card Styles

.projects {
  @include clearfix();

  .project {

    &:hover,
    &:focus {
      .wrap {
        &::before, .overlay-content {
          opacity: 1;
        }
      }
    }

    // Inner wrap + dark overlay
    .wrap {
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: .25;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,.75);
        transition: opacity .2s ease-out;
      }
    }

    // Image background
    .image-wrap {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      position: absolute;
      background: 50% 50% no-repeat scroll;
      background-size: cover;
      @include clearfix;
    }

    // Content styles
    header {
      margin-bottom: 20px;
    }
    h1, h3, p {
      z-index: 1;
      color: $white;
      font-size: 14px;
      position: relative;
      line-height: 1.428571429em;
    }
    h1, .location {
      &::after {
        left: 0;
        bottom: 4px;
        width: 10px;
        content: '';
        height: 2px;
        position: absolute;
        background: $white;
      }
    }
    h1 {
      padding-bottom: 30px;
    }
    .location {
      padding-top: 3px;
      padding-bottom: 13px;
    }
    .categories {
      line-height: 24px;
      .slash:last-of-type {
        display: none;
      }
    }
    a {
      color: $white;
      text-decoration: none;
    }
    .overlay-content {
      opacity: 0;
      transition: opacity .2s ease-out;
    }    

    // Big overlay plus
    .big-plus {
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 40px;
      height: 40px;
      position: absolute;
      transform: translate(-50%, -50%);
      &:hover,
      &:focus {
        &::before,
        &::after {
          background: $brand-primary;
        }
      }
      &::before,
      &::after {
        top: 0;
        left: 50%;
        z-index: 0;
        width: 2px;
        content: '';
        height: 40px;
        position: absolute;
        background: $white;
        transform: tranlsateX(-50%);
        transition: background .2s ease-out;
      }
      &::after {
        transform: translateX(-50%) rotate(90deg);
      }
      a {
        z-index: 1;
        width: 100px;
        height: 100px;
        display: block;
        position: relative;
      }

      @include min-screen($breakpoint-medium) {
        &::before,
        &::after {
          height: 100px;
        }
        a {
          width: 100px;
          height: 100px;
        }
      }
    }

  }

}

// Main project-grid specific styles
.projects.main-project-grid {

  // Offset the grid for the padding of the items
  @include min-screen($breakpoint-medium) {
    margin-left: -10px;
    width: calc(100% + 20px);
  }

  .initial-section,
  .load-more-container {
    @include clearfix();
  }

  .grid-item {
    color: $white;
    margin-bottom: 20px;
    transition: color 1s ease-out;
    -webkit-font-smoothing: antialiased;

    &.project {
      cursor: pointer;
    }

    .wrap {
      padding: 20px;
      position: relative;
      transition: background-color .2s ease-out;
    }

    .article-inner {
      z-index: 2;
      max-width: 400px;
      position: relative;
      padding-bottom: 40px;
    }

    a {
      color: $white;
      transition: color .2s ease-out;
    }

    .actions {
      a:hover {
        color: $brand-primary;
        .icon {
          fill: $brand-primary;
        }
      }
    }

    @include min-screen($breakpoint-medium) {
      width: 50%;
      margin-bottom: 0;
      position: relative;

      .article-inner { 
        max-width: 280px;
      }

      .wrap {        
        height: 0;
        overflow: hidden;
        margin: 0 10px 20px;
        padding-bottom: calc(117.242% + 40px);
      }

      &:first-of-type {
        width: 100%;
        margin-bottom: 20px;
        .wrap {
          margin-bottom: 0;
          padding-bottom: 58.621%;
        }
      }

      &:nth-of-type(6) {
        width: 100%;
        .wrap {
          padding-bottom: 60.2272727%;
        }
      }
    }

    @include min-screen($breakpoint-large) {
      width: 25%;

      .big-plus {
        display: none;
      }

      .wrap {
        padding-bottom: 128.5714286%;
      }

      &:first-of-type {
        width: 50%;
        margin-bottom: 0;
        .wrap {
          padding-bottom: calc(117.242% + 40px);
        }
        .big-plus {
          display: block;
        }
      }

      &:nth-of-type(2) {
        width: 50%;

        .wrap {
          margin-bottom: 10px;
          padding-bottom: calc(58.621% + 10px);
        }
        .big-plus {
          display: block;
        }
      }

      &:nth-of-type(3) {
        .wrap {
          margin-top: 10px;
        }
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        .wrap {
          margin-top: 10px;
          padding-bottom: 117.242%;
        }
      }

      &:nth-of-type(6) {
        width: 75%;
        .wrap {
          padding-bottom: 60.2272727%;
        }
        .big-plus {
          display: block;
        }
      }

      &:nth-of-type(7) {
        .big-plus {
          display: block;
        }
        width: 50%;
        .wrap {
          padding-bottom: 62.248132244%;
        }
      }
    }

    @include min-screen($breakpoint-huge) {
      .big-plus {
        display: block;
      }
    }
  }

  .grid-item {
    @include min-screen($breakpoint-medium) {
      padding: 0 20px;
    }

    .actions {
      margin-bottom: 0;

      .collection-action {
        .close {
          bottom: -1px;
          position: relative;
        }
      }

      @include min-screen($breakpoint-medium) {
        left: 20px;
        right: 20px;
        bottom: 20px;
        margin-top: 0;
        position: absolute;
      }
    }
    .icon-download {
      margin-right: 20px;
    }
  }

  // Blog/news posts
  .grid-item.news {
    color: $black;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    &::before {
      top: 0;
      left: 20px;
      right: 20px;
      height: 2px;
      content: '';
      background: $black;
      position: absolute;
    }

    @include min-screen($breakpoint-medium) {
      padding-left: 10px;
      padding-right: 10px;
      &::before {
        left: 10px;
        right: 10px;
      }
    }

    h3 {
      @include sc();
      margin-bottom: 14px;
    }

    a:not(.read-more-link) {
      color: $gray-dark;
      padding-bottom: 2px;
      text-decoration: none;
      transition: color .2s ease-out;
      border-bottom: 1px solid $black;
      &:hover {
        color: $black;
      }
    }

    ul {
      margin: 0;
      padding: 0 0 30px;
      li {
        margin-top: 20px;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    .background-image-wrap {
      padding-left: 0;
      padding-right: 0;
      background: none;
    }

    .article-inner {
      padding: 16px 0 40px;
      border-bottom: 1px solid $gray;
    }

    .article-category {
      @include sc();
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 10px;
      a {
        color: $black;
        border-bottom: none;
        text-decoration: none;
      }
    }
  }

  // Stat block
  .grid-item.stat {
    color: $black;
    -webkit-font-smoothing: auto;
    .stat-number {
      margin: 0;
      font-size: 50px;
      pointer-events: none;
      letter-spacing: -.1em;
      @include min-screen($breakpoint-medium) {
        font-size: 26vw;
      }
      @include min-screen($breakpoint-large) {
        font-size: 16vw;
      }
    }
    .stat-label {
      position: relative;
    }
    a {
      color: $black;
      position: relative;
      text-decoration: none;
      transition: color .1s ease-out;
      &::after {
        bottom: 0;
        height: 1px;
        content: '';
        left: .02em;
        right: .2em;
        background: $black;
        position: absolute;
        transition: background .1s ease-out;
      }
      &:hover {
        color: $brand-primary;
        &::after {
          background: $brand-primary;
        }
      }
    }

    @include min-screen($breakpoint-large) {
      .wrap {
        overflow: visible;
      }
      .stat-number {
        margin-top: -.5em;
      }
    }

    // The secondary stat
    &.stat-secondary {
      .stat-content {
        @include min-screen($breakpoint-medium) {            
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
        }
      }
      .stat-number {
        margin: 0;
        @include thin();
        font-size: 52px;
        letter-spacing: .2em;
        line-height: .961538462em;
      }
    }
  }
}

// Various grid layouts
.home, 
body[data-pageClass=planning],
body.tax-project_category.planning {
  .projects.main-project-grid {
    .grid-item {
      @include min-screen($breakpoint-medium) {
        float: right;
        &:not(.news) {
          padding-left: 0;
        }
      }
    }
    // Load more container flipped layout
    .load-more-container {
      .grid-item {
        @include min-screen($breakpoint-medium) {
          float: left;
          &:not(.news) {
            padding-left: 0;
          }
        }
      }
    }
  }
}
// Architecture layout
body[data-pageClass=architecture],
body[data-pageClass=interior-design],
body.tax-project_category.architecture,
body.tax-project_category.interior-design {
  .projects.main-project-grid {
    .grid-item {
      @include min-screen($breakpoint-medium) {
        float: left;
        &:not(.news) {
          padding-left: 0;
        }
      }
    }
    // Load more container flipped layout
    .load-more-container {
      .grid-item {
        @include min-screen($breakpoint-medium) {
          float: right;
          &:not(.news) {
            padding-left: 0;
          }
        }
      }
    }
  }
}

// Touch screen adjustments
.touchevents {
  .projects.main-project-grid {
    .project {
      .wrap {
        height: 0;
        padding: 20px 20px 60%;
      }
      h1::after {
        display: none;
      }
      .overlay-content {
        opacity: 1;
        left: 20px;
        bottom: 20px;
        position: absolute;
      }
      .location,
      .categories,
      .big-plus {
        display: none;
      }
    }
  }
}

// Load More Button at the bottom
.load-more {
  clear: both;
  margin: 30px 0;

  a {
    color: $black;
    @include h2();
    display: inline-block;
    text-decoration: none;
    &:hover {
      span:first-of-type {
        @include underline($black);
      }
    }
    span {
      display: block;
    }
  }

  @include min-screen($breakpoint-medium) {
    padding-left: 10px;
    margin: 90px 0 120px;
  }
}

// Project Modal
.modal.project-modal{
  padding: 20px;

  @include min-screen($breakpoint-medium) {
    padding: 40px;

    &.active {
      width: 100%;
      transform: translateX(100px);
    }
  }

  .project {
    
    &.horizontal {
      .image-wrap {
        margin-top: -20px;
        margin-left: -20px;
        width: calc(100% + 40px);

        @include min-screen($breakpoint-medium) {
          margin-top: -40px;
          margin-left: -40px;
          width: calc(100% + 80px);
        }
      }
    }

    &.vertical {
      @include min-screen($breakpoint-medium) {
        .image-wrap {
          margin-top: -40px;
          margin-left: -40px;
          width: calc(45.4545454545% + 40px);
        }
      }
    }

  }
}