// Single Project Page

// special column vars for the project view
$project-col: 100% * 1/11;
$project-padding: (10% * 11/12);

// Single Project Page (not in modal)
body.single-project {
  background: $gray-light;
  
  .site-header {
    background: $gray-light;
  }

  .main {

    .project {
      position: relative;
    }

    .project-block {    
      .column.-right {
        @include min-screen($breakpoint-medium) {
          padding-left: 10px;
        }
      }

      &.image-layout-3 {
        @include min-screen($breakpoint-medium) {
          .image-1 {
            flex-basis: calc((5 * #{$project-col} + 10px);
          }
          .image-2 {
            flex-basis: calc((6 * #{$project-col}) - 10px);
          }
        }
      }

      &.image-layout-4 {
        @include min-screen($breakpoint-medium) {
          .image-1 {
            flex-basis: calc((5 * #{$project-col}) + 10px);
          }
          .image-2 {
            flex-basis: calc((6 * #{$project-col}) - 10px);
          }
        }
      }

    }
    .column {
      @include min-screen($breakpoint-medium) {      
        &.-right {
          padding-left: 10px;
        }
      }
    }

    @include min-screen($breakpoint-medium) {
      margin-left: -40px;
      margin-right: -40px;
      padding-left: $column;

      .project {
        background: $white;
      }
    }

    // Vertical mods
    .project.vertical {
      
      .project-intro {
        .column {
          @include min-screen($breakpoint-medium) {
            &.-left {
              width: calc((5 * #{$project-col}) + 12px);
            }
            &.-right {
              width: calc((6 * #{$project-col}) - 12px);
            }
          }
        }
      }

      .project-blocks .project-block {
        &.image-layout-1 {
          @include min-screen($breakpoint-medium) {              
            .image-1 {
              flex-basis: calc((5 * #{$project-col}) + 10px);
            }
            .image-2 {
              flex-basis: calc((6 * #{$project-col}) - 10px);
            }
          }
        }
      }
    }

    .actions {
      top: 20px;
      left: 20px;
      position: absolute;
      @include min-screen($breakpoint-medium) {
        top: 0;
        left: calc((-#{$column / 2}) - 12px);
      }

      .single-project-close {
        display: block;
        margin-bottom: 20px;
        @extend .plus-button.hide-modal;
      }
    }
  }

  // Collection modal mods
  section.collection {
    .project {
      .wrap::before {
        z-index: 1;
      }
      .image-wrap {
        z-index: 0;
      }
      .article-title {
        margin: 0;
        font-size: 14px;
      }
    }
  }

}

// Project Modal
.modal.project-modal{
  padding: 0;
  
  &.active {
    .actions {
      display: block;
    }
  }

  .actions {
    display: none;
    .single-project-close {
      display: none;
    }
  }

  @include min-screen($breakpoint-medium) {

    &.active {
      width: 100% - $column; 
    }
  }

  // Vertical mods
  .project.vertical {
    
    .project-intro {
      .column {
        @include min-screen($breakpoint-medium) {
          &.-left {
            width: calc((5 * #{$project-col}) + 8px);
          }
          &.-right {
            width: calc((6 * #{$project-col}) - 8px);
          }
        }
      }
    }
  }
}

// Single Project Page/Modal
.single-project,
.project-modal {

  // Color scheme stuff
  article {
    &[data-pageClass=architecture] {
      .article-title {
        color: $architecture-color;
      }
      .stat-number {
        color: $architecture-color;
      }
      a {
        &:hover, &:focus {
          color: $architecture-color;
        }
      }
    }
    &[data-pageClass=planning] {
      .article-title {
        color: $planning-color;
      }
      .stat-number {
        color: $planning-color;
      }
      a {
        &:hover, &:focus {
          color: $planning-color;
        }
      }
    }
    &[data-pageClass=interior-design] {
      .article-title {
        color: $interior-design-color;
      }
      .stat-number {
        color: $interior-design-color;
      }
      a {
        &:hover, &:focus {
          color: $interior-design-color;
        }
      }
    }
  }

  .actions {
    top: 40px;
    z-index: 1;
    left: -32px;
    position: fixed;
    a {
      color: $black;
    }
    .icon {
      fill: $black;
      margin-right: 10px;
      &.icon-remove {
        fill: $red;
      }
    }

    @include min-screen($breakpoint-medium) {
      left: -61px;
      .icon-remove {
        left: -1px;
        position: relative;
      }
    }
  }

  .project {
    background: $white;
    padding-bottom: 20px;

    @include min-screen($breakpoint-medium) {
      padding-bottom: 40px;
    }

    // Stat defaults
    .stat {
      padding: 60px 0 40px;
      @include min-screen($breakpoint-medium) {
        padding: 0;
      }
      .stat-number {
        font-size: 80px;
        @include min-screen($breakpoint-medium) {
          font-size: 16vw;
        }
      }
      &.long-stat {
        .stat-number {
          font-size: 40px;
          @include min-screen($breakpoint-medium) {
            font-size: 6vw;
          }
        }
        // Extra long (>4)
        &.extra-long-stat {
          .stat-number {
            font-size: 28px;
            @include min-screen($breakpoint-medium) {
              font-size: 4vw;
            }
          }
        }
      }
    }

    // Columns
    .column {

      @include min-screen($breakpoint-medium) {      
        &.-left {
          width: 5 * $project-col;
          padding: 0 $project-col;
        }
        &.-right {
          padding-left: 6px;
          width: 6 * $project-col;
          padding-right: $project-col;
        }
      }
    }
    // Adjusted wrap for inner project grid
    .wrap {
      padding: 0 20px;
      @include min-screen($breakpoint-medium) {
        padding: 0 40px;
      }
    }

    // Horizontal orientation
    &.horizontal {
      .image-wrap {
        height: 0;
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 62.8571429%;
        @include min-screen($breakpoint-medium) {
          margin-bottom: 70px;
        }
      }

      .project-meta {
        @include min-screen($breakpoint-medium) {        
          .-inner {
            border-top: 2px solid $black;
          }
        }
      }
    }

    // Vertical orientation
    &.vertical {
      .image-wrap {
        padding-bottom: 125%;
      }

      .project-intro {
        .column {
          &.-right {
            padding: 0 20px;
          }
        }

        @include min-screen($breakpoint-medium) {
          padding-right: 40px;

          .image-wrap {
            padding-bottom: 64.1975309%;
          }

          .column {
            &.-right {
              padding-top: 60px;
              background: $white;
            }
          }
        }
      }

      .project-meta {
        .project-meta-content > div {
          @include min-screen($breakpoint-medium) {
            padding-left: 10px;
            .-inner {
              border-top: 2px solid $black;
            }
            &:first-of-type {
              padding-left: 0;
              padding-right: 10px;
            }
          }
        }
      }

      // Image layout mods
      .project-blocks {
        .project-block {
          &.image-block {
            &.image-layout-1 {
              @include min-screen($breakpoint-medium) {              
                .image-1 {
                  flex-basis: calc((5 * #{$project-col}) + 6px);
                }
                .image-2 {
                  flex-basis: calc((6 * #{$project-col}) - 6px);
                }
              }
            }
          }
        }
      }
    }

    .project-intro {
      padding-bottom: 20px;

      @include min-screen($breakpoint-medium) {
        padding-bottom: 40px;
        
        > .wrap {
          display: flex;
          .-left {
            order: 0;
          }
          .-right {
            order: 1;
          }
        }
      }
    }

    .image-wrap {
      position: relative;
      background: 50% 50% no-repeat scroll;
      background-size: cover;
    }

    .article-title {
      @include h1();
      font-size: 42px;
      margin-bottom: 30px;
      @include min-screen($breakpoint-medium) {
        font-size: 52px;
        margin-top: -.12em;
        margin-bottom: 60px;
      }
      @include min-screen($breakpoint-huge) {
        font-size: 84px;
      }
    }

    .column-text-wrap {
      padding: 0;
      @include min-screen($breakpoint-medium) {
        padding: 0 20px;
      }
    }
  }

  .project-meta {

    .show-details {
      text-align: right;
      position: relative;
      &::before {
        left: 0;
        right: 0;
        top: 50%;
        z-index: 0;
        height: 2px;
        content: '';
        background: $black;
        position: absolute;
        transform: translateY(-50%);
      }

      .details-toggle {
        @include sc();
        background: $white;
        position: relative;
        padding-left: 20px;
        .plus {
          top: 2px;
        }
      }

      .plus {
        display: inline-block;
      }

      @include min-screen($breakpoint-medium) {
        display: none;
      }
    }

    .project-meta-content {    
      display: none;
      @include min-screen($breakpoint-medium) {
        display: block!important; // overriding jquery slidetoggle
      }
    }

    .-inner {
      padding-top: 30px;
    }

    h3 {
      @include sc();
    }

    h4 {
      font-size: 14px;
      margin-top: 20px;
      color: $gray-dark;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $gray;
      a {
        color: inherit;
        position: relative;
        text-decoration: none;
        transition: color .1s ease-out;
        &::after {
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          height: 1px;
          background: $black;
          position: absolute;
        }
        &:hover {
          color: $black;
        }
      }
    }

    .categories {
      a {
        display: inline-block;
      }
      br {
        display: none;
      }
      .slash:last-of-type {
        display: none;
      }
    }

    @include min-screen($breakpoint-medium) {
      h4 {
        margin-bottom: 25px;
        padding-bottom: 25px;
      }
    }
  }

  .project-intro-text {
    @include h2();
    @include min-screen($breakpoint-medium) {
      font-size: 22px;
    }
    @include min-screen($breakpoint-nav) {
      font-size: 28px;
    }
  }
}

// Project Blocks
.project-blocks {
  .project-block {
    margin: 20px;
    padding: 40px 0;
    @include clearfix();

    &:not(.image-block),
    &:not(.emphasis-block) {
      margin-bottom: 40px;
    }

    @include min-screen($breakpoint-medium) {
      margin-left: 0;
      margin-right: 0;
      padding: 60px 0;
    }

    .user-content {
      h2, h3 {
        @include sc();
        margin-bottom: 20px;
      }
    }

    .left-column-text.-empty {
      margin-bottom: -40px;
      @include min-screen($breakpoint-medium) {
        margin-bottom: 0;
      }
    }

    .right-column-text:not(.-empty) {
      margin-top: 40px;
      @include min-screen($breakpoint-medium) {
        margin-top: 0;
      }
    }

    .full-width-text {

      h2, h3 {
        color: $black;
        @include sc();
      }

      blockquote {
        &:before {
          top: 1.2em;
          width: 10px;
          height: 2px;
          left: -20px;
          content: '';
          position: absolute;
        }
      }

      // If left/right column text is added in the same block
      + .column-text-wrap {
        margin-top: 20px;
      }

      @include min-screen($breakpoint-medium) {
        overflow: hidden;
        padding: 0 $project-padding;

        .column {
          padding: 0;
          &.-right {
            margin-left: -30px;
          }
        }

        blockquote {
          &:before {
            left: auto;
            width: 20%;
            right: calc(100% + 20px);
          }
        }

        // If left/right column text is added in the same block
        + .column-text-wrap {
          margin-top: 40px;
        }
      }
    }

    // Gray-background emphasis block
    &.emphasis-block {
      color: $white;
      margin: 20px 0;
      padding: 40px 20px;
      background: $gray-dark;

      .column-text-wrap {
        padding: 0;
      }

      .left-column-text {
        ul {
          li {
            color: $white;
          }
        }
      }

      .user-content {
        h2, h3 {
          color: $black;
        }
      }

      @include min-screen($breakpoint-medium) {
        padding: 60px 0;
        margin-left: 40px;
        margin-right: 40px;

        .full-width-text {
          width: 100%;
          margin-left: 0;
        }

        .column {
          &.-left {
            padding-left: $project-padding;
          }
        }
      }
    }

    // Adjust left text columns when not an emphasis block
    &:not(.emphasis-block) {
      @include min-screen($breakpoint-medium) {
        .left-column-text.column.-left {
          padding-left: calc(#{$project-padding} + 16px);
        }
        .full-width-text {
          padding-left: calc(#{$project-padding} + 16px);
          blockquote {
            margin: 0 16px;
          }
        }
      }
    }

    .column-text-wrap {
      @include clearfix();
    }

    .left-column-text,
    .right-column-text {
      @include min-screen($breakpoint-medium) {
        min-height: 1px;
      }
    }

    .left-column-text {

      h2, h3 {
        @include sc();
        margin-bottom: 20px;
      }

      ul {
        margin: 0;
        padding: 0;
        li {
          margin-top: 20px;
          color: $gray-dark;
          &:first-of-type {
            margin-top: 0;
          }
          a {
            color: inherit;
          }
        }
      }
    }

    // Image block layouts
    &.image-block {
      margin: 0;
      padding: 0;
      position: relative;

      .image-grid {
        position: relative;
      }

      // Has a stat?
      &.has-stat {
        .image {
          span {
            display: block;
            position: relative;
          }
        }
      }

      // Is followed by an emphasis block
      + .emphasis-block {
        margin-top: 0;
      }

      @include min-screen($breakpoint-medium) {
        margin: 0 40px;
    
        .image-grid {
          display: flex;
        }

        &.has-stat {
          .image:last-of-type {
            margin-bottom: 130px;
          }
        }

        .stat {
          right: 0;
          top: 100%;
          width: 100%;
          padding: 0 20px;
          position: absolute;
          transform: translateY(-8vw);
          &.long-stat {
            transform: translateY(-3vw);
          }
          &.extra-long-stat {
            transform: translateY(-2vw);
          }
        }
      }

      .image {
        margin-bottom: 20px;

        img {
          width: 100%;
          vertical-align: top;
        }
      }

      &.image-layout-1 {

        @include min-screen($breakpoint-medium) {

          .image-1 {
            flex-basis: 8 * $project-col;
            border-right: 20px solid $white;
          }
          .image-2 {
            flex-basis: 3 * $project-col;
          }
        }

      }

      &.image-layout-2 {

        @include min-screen($breakpoint-medium) {

          .image-grid {
            flex-wrap: wrap;
          }

          .image-1 {
            flex-basis: 100%;
          }

          .image-2 {
            flex-basis: 5 * $project-col;
            border-right: 20px solid $white;
          }

          .image-3 {
            flex-basis: 6 * $project-col;
          }

        }

      }

      &.image-layout-3 {

        @include min-screen($breakpoint-medium) {

          .image-grid {
            flex-wrap: wrap;
          }

          .image-1 {
            border-right: 20px solid $white;
            flex-basis: calc((5 * #{$project-col} + 6px);
          }

          .image-2 {
            flex-basis: calc((6 * #{$project-col}) - 6px);
          }

          .image-3 {
            flex-basis: 100%;
          }

        }

      }

      &.image-layout-4 {

        @include min-screen($breakpoint-medium) {

          .image-grid {
            flex-wrap: wrap;
          }

          .image-1 {
            border-right: 20px solid $white;
            flex-basis: calc((5 * #{$project-col}) + 6px);
          }

          .image-2 {
            flex-basis: calc((6 * #{$project-col}) - 6px);
          }

          .image-3 {
            flex-basis: 6 * $project-col;
            border-right: 20px solid $white;
          }

          .image-4 {
            flex-basis: 5 * $project-col;
          }

        }

      }

      // Full-width
      &.image-layout-5 {

        @include min-screen($breakpoint-medium) {
          .image-grid {
            display: block;
          }
        }
        .image {
          width: 100%;
        }
        .stat {
          @include min-screen($breakpoint-medium) {          
            width: auto;
            float: right;
            right: $column;
            position: relative;
          }
        }
      }
    }

  }
}