// Single Office

.single.single-office {

  .article-header {
    padding: 20px 0;
    
    h1 {
      @include h1();
      margin-bottom: 20px;
      color: $brand-primary;
    }
    h2 {
      @include h2();
    }

    @include min-screen($breakpoint-medium) {
      padding: 40px 0;

      h1 {
        margin-bottom: 40px;
      }
    }

  }

}

// Office modals
.modal.office {
  .modal-content {
    padding: 20px;
    @include min-screen($breakpoint-medium) {
      padding: 40px;
    }

    .positions {
      @include min-screen($breakpoint-medium) {
        &::before {
          left: 0;
          right: 0;
        }
        padding-left: 0;
      }
    }
  }
}