// Single Posts

body.single-post main,
.modal.news-modal {
  padding: 0;
  background: transparent;

  // If their is a featured image
  .has-post-thumbnail {
    .background-image-wrap {
      height: 0;
      padding-bottom: 75%;
      background: center top no-repeat scroll;
      background-size: cover;
      @include clearfix;
    }

    .article-date {
      font-size: 28px;
      line-height: .961538462em;

      @include min-screen($breakpoint-medium) {
        top: 50%;
        font-size: 52px;
        transform: translate(-50%, -50%);
      }
    }
  }

  .background-image-wrap {
    position: relative;
  }

  .article-date {
    opacity: 0; // only show when active
    padding: 20px;
    display: block;
    @include thin();
    font-size: 28px;
    color: $brand-primary;
    transition: opacity .2s ease-out;
    span {
      display: block;
    }
    
    @include min-screen($breakpoint-medium) {
      left: 0;
      top: 22px;
      padding: 0;
      font-size: 32px;
      line-height: 40px;
      position: absolute;
      transform: translateX(-50%);
    }
  }

  &.active {
    .article-date {
      opacity: 1;
    }
  }

  .article-category {
    @include sc();
    border-bottom: 2px solid $black;
    a {
      color: $black;
      text-decoration: none;
      transition: color .1s ease-out;
      &:hover {
        color: $brand-primary;
      }
    }
  }

  .article-title {
    margin: 20px 0;
    @include min-screen($breakpoint-medium) {
      margin: 40px 0;
    }
  }

  .article-body {
    padding: 20px;

    @include min-screen($breakpoint-medium) {
      padding: 40px;
    }

    @include min-screen($breakpoint-large) {
      padding-right: 100% * 1 / 6;
    }
  }

  .article {
    background: $white;
  }
}

// Single page only
body.single-post {
  article {
    .article-date {
      opacity: 1;
    }
    background: $white;
    @include min-screen($breakpoint-medium) {
      padding: 0;
    }
  }
}

// Modal only
.modal.news-modal {
  @include min-screen($breakpoint-medium) {
    width: calc(50% + 82px);

    .modal-content {
      padding-left: 52px; 
    }
    .hide-modal {
      left: -8px;
      z-index: 2;
    }
  }
}